.adalaber {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  border: 3px solid #666;

  .name,
  .description {
    font-size: 20px;
    padding: 5px;
  }
}

.adalaber:nth-child(even) {
  flex-direction: row;
}

.adalaber:nth-child(odd) {
  flex-direction: row-reverse;
}
