.card {
  margin-top: 5px;
  max-width: 100%;
  padding-top: 20px;
  border-color: #ddd;

  &__title {
    padding-left: 10px;
    border-left: 8px solid;
  }

  &.palette-1 .card__title {
    border-left-color: #14d9c4;
  }

  &.palette-2 .card__title {
    border-left-color: #bd1010;
  }

  &.palette-3 .card__title {
    border-left-color: #3e5b65;
  }

  &__img {
    margin: 1rem;
  }

  &-icons__list {
    margin: 1rem;
  }

  &-icons__item {
    display: inline-block;
  }

  &-icons__link {
    width: 26px;
  }
}
