<section>
  <article class="card">
    <h2 class="card__title js-preview-name">Nombre apellido</h2>
    <p class="card__title">Programadora front end</p>
    <img class="card__img" src="//beta.adalab.es/resources/images/adalab-logo-128x128.png" alt="" />
    <ul class="card-icons__list">
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-envelope-open"></a>
      </li>
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-phone"></a>
      </li>
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-share-alt"></a>
      </li>
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-code-branch"></a>
      </li>
    </ul>
  </article>
</section>
