.collapsable {
  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }

  &__title {
    flex-grow: 1;
  }

  &__icon {
    font-size: 20px;

    &--left {
      margin-right: 10px;
    }
  }

  &__content {
    background-color: #ccc;
  }
}

.collapsable--close {
  .collapsable__icon--right {
    transform: rotate(180deg);
  }
  .collapsable__content {
    display: none;
  }
}
