<section class="border--medium collapsable">
  <h2 class="collapsable__header">
    <span class="collapsable__icon collapsable__icon--left fas fa-user-ninja"></span>
    <span class="collapsable__title">Diseña</span>
    <span class="collapsable__icon collapsable__icon--right fas fa-arrow-down"></span>
  </h2>

  <div class="collapsable__content design">
    <label class="display-block design__square-label">
      <input type="radio" name="palette" class="design__square-radio" checked />
      <ul class="palette-1">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>

    <label class="display-block design__square-label">
      <input type="radio" name="palette" class="design__square-radio" />
      <ul class="palette-2">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>

    <label class="display-block design__square-label">
      <input type="radio" name="palette" class="design__square-radio" />
      <ul class="palette-3">
        <li class="design__square-color color-1">Color A</li>
        <li class="design__square-color color-2">Color B</li>
        <li class="design__square-color color-3">Color C</li>
      </ul>
    </label>
  </div>
</section>
