<section>
  <article class="card js-card">
    <h2 class="card__title js-card-name">Nombre apellido</h2>
    <p class="card__title js-card-job">Programadora front end</p>
    <div class="card__img js__profile-image"></div>
    <ul class="card-icons__list">
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-envelope-open"></a>
      </li>
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-phone"></a>
      </li>
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-share-alt js-card-linkedin"></a>
      </li>
      <li class="card-icons__item">
        <a href="#" class="card-icons__link icon fas fa-code-branch"></a>
      </li>
    </ul>
  </article>
</section>
